@import "tailwindcss";

@theme {
  --color-white: #f3f1ed;
  --color-gray: #848a8c;
  --color-blue: #00438b;
  --color-black: #212121;
}

*::selection {
  color: var(--color-white);
  background-color: var(--color-black);
}

html,
body {
  scrollbar-color: #00438b #f3f1ed;
  scrollbar-width: thin;
}
